<ion-list>
  <ion-item>
    <ion-label position="stacked">Tipos de Exploração</ion-label>
    <ion-select
      interface="popover"
      [value]="tipoExploracaoSelecionado"
      [(ngModel)]="tipoExploracaoSelecionado"
      (ionChange)="setTipoExploracaoSelecionado(tipoExploracaoSelecionado)"
      [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}"
      [disabled]="isDisabled()"
    >
      <ion-select-option
        *ngFor="let tipo of tiposExploracao"
        [value]="tipo"
      >
        {{ tipo.descricao}}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>