<ion-grid>
  <ion-row class="first">
    <ion-col size="4" class="ion-align-self-center">
      <div>
        <h5 class="ion-text-center">{{ categoriasEnum.ate_12_meses.nome }}</h5>
        <h6 class="ion-text-center">{{ categoriasEnum.ate_12_meses.complemento }}</h6>
    </div>
    </ion-col>
    <ion-col size="8" class="second">
      <ion-grid style="height: 100%" no-padding>
        <ion-row style="height: 50%" class="third">
          <ion-col class="ion-align-self-center">
            <h6>{{ subCategoriasEnum.femea.nome }}</h6>
          </ion-col>
          <ion-col>
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="remove(0)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col class="ion-text-center">
            <h3>{{ dataTemplate[0] }}</h3>
          </ion-col>
          <ion-col >
            <ion-fab *ngIf="blnEdit" vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="add(0)">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
        <ion-row style="height: 50%">
          <ion-col class="ion-align-self-center">
            <h6>{{ subCategoriasEnum.macho.nome }}</h6>
          </ion-col>
          <ion-col >
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="remove(1)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col class="ion-text-center">
            <h3>{{ dataTemplate[1] }}</h3>
          </ion-col>
          <ion-col>
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="add(1)">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row class="first">
    <ion-col size="4" class="ion-align-self-center">
      <div>
        <h5 class="ion-text-center">{{ categoriasEnum.de_13_a_24_meses.nome }}</h5>
        <h6 class="ion-text-center">{{ categoriasEnum.de_13_a_24_meses.complemento }}</h6>
    </div>
    </ion-col>
    <ion-col size="8" class="second">
      <ion-grid style="height: 100%" no-padding>
        <ion-row style="height: 50%" class="third">
          <ion-col class="ion-align-self-center">
            <h6>{{ subCategoriasEnum.femea.nome }}</h6>
          </ion-col>
          <ion-col>
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="remove(2)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col class="ion-text-center">
            <h3>{{ dataTemplate[2] }}</h3>
          </ion-col>
          <ion-col >
            <ion-fab *ngIf="blnEdit" vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="add(2)">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
        <ion-row style="height: 50%">
          <ion-col class="ion-align-self-center">
            <h6>{{ subCategoriasEnum.macho.nome }}</h6>
          </ion-col>
          <ion-col >
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="remove(3)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col class="ion-text-center">
            <h3>{{ dataTemplate[3] }}</h3>
          </ion-col>
          <ion-col>
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="add(3)">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row class="first">
    <ion-col size="4" class="ion-align-self-center">
      <div>
        <h5 class="ion-text-center">{{ categoriasEnum.de_25_a_36_meses.nome }}</h5>
        <h6 class="ion-text-center">{{ categoriasEnum.de_25_a_36_meses.complemento }}</h6>
    </div>
    </ion-col>
    <ion-col size="8" class="second">
      <ion-grid style="height: 100%" no-padding>
        <ion-row style="height: 50%" class="third">
          <ion-col class="ion-align-self-center">
            <h6>{{ subCategoriasEnum.femea.nome }}</h6>
          </ion-col>
          <ion-col>
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="remove(4)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col class="ion-text-center">
            <h3>{{ dataTemplate[4] }}</h3>
          </ion-col>
          <ion-col >
            <ion-fab *ngIf="blnEdit" vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="add(4)">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
        <ion-row style="height: 50%">
          <ion-col class="ion-align-self-center">
            <h6>{{ subCategoriasEnum.macho.nome }}</h6>
          </ion-col>
          <ion-col >
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="remove(5)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col class="ion-text-center">
            <h3>{{ dataTemplate[5] }}</h3>
          </ion-col>
          <ion-col>
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="add(5)">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
  <ion-row class="first">
    <ion-col size="4" class="ion-align-self-center">
      <div>
        <h5 class="ion-text-center">{{ categoriasEnum.mais_de_36_meses.nome }}</h5>
        <h6 class="ion-text-center">{{ categoriasEnum.mais_de_36_meses.complemento }}</h6>
    </div>
    </ion-col>
    <ion-col size="8" class="second">
      <ion-grid style="height: 100%" no-padding>
        <ion-row style="height: 50%" class="third">
          <ion-col class="ion-align-self-center">
            <h6>{{ subCategoriasEnum.femea.nome }}</h6>
          </ion-col>
          <ion-col>
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="remove(6)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col class="ion-text-center">
            <h3>{{ dataTemplate[6] }}</h3>
          </ion-col>
          <ion-col >
            <ion-fab *ngIf="blnEdit" vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="add(6)">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
        <ion-row style="height: 50%">
          <ion-col class="ion-align-self-center">
            <h6>{{ subCategoriasEnum.macho.nome }}</h6>
          </ion-col>
          <ion-col >
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="remove(7)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
          <ion-col class="ion-text-center">
            <h3>{{ dataTemplate[7] }}</h3>
          </ion-col>
          <ion-col>
            <ion-fab *ngIf="blnEdit"  vertical="center" horizontal="center">
              <ion-fab-button color="success" size="small" (click)="add(7)">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>

<div *ngIf="blnEdit">
      <ion-button (click)="salvar($event)" expand="block">Salvar</ion-button>
</div>
