ion-button{
    color:#065621;
    --background: #C0DAC6;
    margin-left: 40%;
}
ion-label{
    color: grey !important;
}
.enviado{
    color:#065621;
    align-self: flex-end;
  }
.pendente{
    color:red;
    align-self: flex-end;
}
.local{
    font-size: 24px;
}
#first{
    margin-bottom: 5px;
}
