<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Novo Lançamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="7" size-sm="4" offset-sm="2" >
        <app-tipos-lancamentos></app-tipos-lancamentos>
      </ion-col>
      <ion-col size="5" size-sm="4" offset-sm="1">
        
          <ion-label position="stacked" style="font-size: small;">Espécie Animal</ion-label>
          <h6>{{agronegocio.especieAnimal.nome}}</h6>
       
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <app-bovinos
          (salvarBovinos)="salvar($event)"
          *ngIf="agronegocio.especieAnimal.id === 0 || agronegocio.especieAnimal.id === 1"
        ></app-bovinos>
        <app-ovinos
          (salvarOvinos)="salvar($event)"
          *ngIf="agronegocio.especieAnimal.id === 3"
        ></app-ovinos>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
