// ion-col > div {
ion-col{
    // background-color: #f7f7f7;
    border: solid 1px #ddd;
    // padding: 10px;
  }
  ion-grid{
    --ion-grid-column-padding: 0%;
  }
  .categoria-text{
   text-align: center; 
   line-height: 1.5;
   vertical-align: middle;
  }
  ion-label{
      text-align: center;
      width: auto;
  }
  ion-button{
    color:#065621;
    --background: #C0DAC6;
    margin-left: 40%;
}