ion-button{
    color:#065621;
    --background: #C0DAC6;
}
ion-label .styleAgronegocio{
    font-size: medium !important;
    --color: grey !important;
}
ion-input{
    padding-top: 10px !important;
    font-size: medium !important;
}