<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >AGRONEGÓCIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          {{agronegocio.nomeEspecieAnimal}}
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
        <ion-segment (ionChange)="segmentChanged($event)" color="success" value="lancamentos">
          <ion-segment-button value="lancamentos">
            <ion-label>Lançamentos</ion-label>
          </ion-segment-button>
          <ion-segment-button value="declaracoes">
            <ion-label>Declarações</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="blnShowLancamento">
      <ion-col>
        <app-lancamentos></app-lancamentos>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="blnShowDeclaracao">
      <ion-col>
        <app-declaracoes></app-declaracoes>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
