<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list *ngIf="propriedades">
        <ion-item>
          <ion-label position="stacked">Propriedade Rural</ion-label>
          <ion-select 
            interface="popover"
            [value]="propriedadeSelecionada"
            [(ngModel)]="propriedadeSelecionada"
            (ionChange)="setPropriedadeSelecionada(propriedadeSelecionada)"
            css-class="width:100% !important;"
          >
            <ion-select-option
              *ngFor="let propriedade of propriedades"
              [value]="propriedade"
            >
              {{ propriedade.nome }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="propriedadeSelecionada">
    <ion-col size="5">
      <ion-item>
        <ion-label position="stacked"> Área</ion-label>
        <ion-input  disabled>{{propriedadeSelecionada.area}} Hectares</ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="7">
      <ion-item>
        <ion-label position="stacked"> Inscrição Estadual</ion-label>
        <ion-input  disabled>{{propriedadeSelecionada.inscricaoEstadual}}</ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

