<ion-list>
  <ion-item *ngFor="let agronegocio of agronegocios" [routerLink]="['agronegocio/'+agronegocio?.id]">
    <div ion-grid style="width: 100%;">
      <ion-row>
        <ion-col>
          <ion-label position="stacked" > Grupo Produtor</ion-label>
          <ion-input>{{agronegocio.nomeGrupoProdutor}}</ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label position="stacked">Espécie Animal</ion-label>
          <ion-input>{{agronegocio.especieAnimal.nome}}</ion-input>
        </ion-col>
        <ion-col size=4>
          <ion-label position="stacked" >Status</ion-label>
          <ion-input *ngIf="agronegocio.status === tipoEnvioEnum.EM_ANALISE" disabled>Em Análise</ion-input>
          <ion-input *ngIf="agronegocio.status === tipoEnvioEnum.PENDENTE" disabled>Pendente</ion-input>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-list>
